
	{% if item.groupName contains "U.S. Geological Survey (USGS)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usgs.jpg" alt="USGS logo" height="120px" title="USGS">
	{% endif %}

	{% if item.groupName contains "National Science Foundation (NSF)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/nsf.png" alt="NSF logo" height="120px" title="NSF">
	{% endif %}

	{% if item.groupName contains "Bureau of Land Management (BLM)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/blm.jpg" alt="BLM logo" height="120px" title="BLM">
	{% endif %}

	{% if item.groupName contains "National Aeronautics and Space Administration" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/717px-NASA_logo.png" alt="NASA logo" height="120px" title="NASA">
	{% endif %}

	{% if item.groupName contains "U.S. Forest Service (USFS)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usfs.png" alt="USFS logo" height="120px" title="USFS">
	{% endif %}

	{% if item.groupName contains "National Oceanic and Atmospheric Administration (NOAA)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/noaa-logo-150x150.jpg" alt="NOAA logo" height="120px" title="NOAA">
	{% endif %}

	{% if item.groupName contains "U.S. Fish and Wildlife Service" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usfws-logo-251x300.png" alt="Fish and Wildlife Service logo" height="120px" title="Fish & Wildlife Service">
	{% endif %}

	{% if item.groupName contains "National Park Service (NPS)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/nps.png" alt="NPS logo" height="120px" title="NPS">
	{% endif %}

	{% if item.groupName contains "U.S. Department of Agriculture" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usda-logo-300x213.jpg" alt="USDA logo" height="120px" title="USDA">
	{% endif %}

	{% if item.groupName contains "Department of Defense (DOD)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/dod-logo-150x150.png" alt="DOD logo" height="120px" title="DOD">
	{% endif %}

	{% if item.groupName contains "National Institutes of Health (NIH)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/nih-logo.png" alt="NIH logo" height="120px" title="NIH">
	{% endif %}

	{% if item.groupName contains "U.S. Environmental Protection Agency (EPA)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/epa-logo-150x150.jpg" alt="EPA logo" height="120px" title="EPA">
	{% endif %}

	{% if item.groupName contains "National Archives and Records Administration (NARA)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/nara-logo-150x150.png" alt="National Archives logo" height="120px" title="NARA">
	{% endif %}

	{% if item.groupName contains "Food and Drug Administration" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/fda.png" alt="FDA logo" height="120px" title="FDA">
	{% endif %}

	{% if item.groupName contains "Center for Disease Control" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/cdc.png" alt="CDC logo" height="120px" title="CDC">
	{% endif %}

	{% if item.groupName contains "Smithsonian Institution (SI)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/smithsonian-logo-150x150.jpg" alt="ASSI logo" height="120px" title="Smithsonian Institute">
	{% endif %}

	{% if item.groupName contains "Department of Homeland Security" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/dhs-logo-150x150.jpg" alt="DHS logo" height="120px" title="DHS">
	{% endif %}

	{% if item.groupName contains "Intelligence Advanced Research Project Activity" %}
  		<img style="padding: .7rem;" src="{{ site.baseurl }}/assets/images/agency/200px-Intelligence_Advanced_Research_Projects_Activity_logo.png" alt="IARPA logo" height="120px" title="IARPA">
	{% endif %}

	{% if item.groupName contains "U.S. Department of the Interior (DOI)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/doi-logo-150x150.png" alt="DOI logo" height="120px" title="DOI">
	{% endif %}

	{% if item.groupName contains "U.S. Agency for International Development (USAID)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usaid.png" alt="USAID logo" height="120px" title="USAID">
	{% endif %}

	{% if item.groupName contains "Department of Energy (DOE)" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/doe-seal-logo-150x150.png" alt="DOE logo" height="120px" title="DOE">
	{% endif %}

	{% if item.groupName contains "Department of State" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/state.png" alt="State Dept. logo" height="120px" title="State Dept">
	{% endif %}

	{% if item.groupName contains "Peace Corps" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/peace_corps.png" alt="Peace Corps logo" height="120px" title="Peace Corps">
	{% endif %}

	{% if item.groupName contains "Federal Communications Commission" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/fcc-logo-300x252.png" alt="FCC logo" height="120px" title="FCC">
	{% endif %}

	{% if item.groupName contains "Department of Housing and Urban Development" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/hud.png" alt="HUD logo" height="120px" title="HUD">
	{% endif %}

	{% if item.groupName contains "Census" %}
	<img src="{{ site.baseurl }}/assets/images/agency/census.png" alt="Census logo" height="120px" title="Census">
	{% endif %}

	{% if item.groupName contains "National Institute of Standards and Technology" %}
	<img src="{{ site.baseurl }}/assets/images/agency/nist.png" alt="NIST logo" height="120px" title="NIST">
	{% endif %}

	{% if item.groupName contains "Health and Human Services" %}
	<img src="{{ site.baseurl }}/assets/images/agency/hhs.jpg" alt="HHS logo" height="120px" title="HHS">
    {% endif %}
    
    {% if item.groupName contains "Small Business Administration" %}
	<img src="{{ site.baseurl }}/assets/images/agency/SBA_logo.jpg" alt="SBA logo" height="120px" title="HHS">
    {% endif %}
    
    {% if item.groupName contains "General Services Administration" %}
	<img style="padding: .7rem;" src="{{ site.baseurl }}/assets/images/agency/gsa.png" alt="GSA logo" height="100px" title="HHS">
	{% endif %}


	



	

















