
	{% if page.groupName contains "U.S. Geological Survey" or page.agency contains "U.S. Geological Survey" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usgs.jpg" alt="USGS logo" title="USGS">
	{% endif %}

	{% if page.groupName contains "National Science Foundation" or page.agency contains "National Science Foundation" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/nsf.png" alt="NSF logo" title="NSF">
	{% endif %}

	{% if page.groupName contains "Bureau of Land Management" or page.agency contains "Bureau of Land Management" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/blm.jpg" alt="BLM logo" title="BLM">
	{% endif %}

	{% if page.groupName contains "National Aeronautics and Space Administration" or page.agency contains "National Aeronautics and Space Administration" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/717px-NASA_logo.png" alt="NASA logo" title="NASA">
	{% endif %}

	{% if page.groupName contains "Forest Service" or .groupName contains "Forest Service" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usfs.png" alt="USFS logo" title="USFS">
	{% endif %}

	{% if page.groupName contains "National Oceanic and Atmospheric Administration" page.agency contains "National Oceanic and Atmospheric Administration" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/noaa-logo-150x150.jpg" alt="NOAA logo" title="NOAA">
	{% endif %}

	{% if page.groupName contains "Fish and Wildlife Service" page.agency contains "Fish and Wildlife Service" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usfws-logo-251x300.png" alt="Fish and Wildlife Service logo" title="Fish & Wildlife Service">
	{% endif %}

	{% if page.groupName contains "National Park Service" or page.agency contains "National Park Service" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/nps.png" alt="NPS logo" title="NPS">
	{% endif %}

	{% if page.groupName contains "Department of Agriculture" or page.agency contains "Department of Agriculture" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usda-logo-300x213.jpg" alt="USDA logo" title="USDA">
	{% endif %}

	{% if page.groupName contains "Department of Defense" or page.agency contains "Department of Defense" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/dod_seal.jpg" alt="DOD logo" title="DOD">
	{% endif %}

	{% if page.groupName contains "National Institutes of Health" or page.agency contains "National Institutes of Health" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/NIH-Generic.png" alt="NIH logo" title="NIH">
	{% endif %}

	{% if page.groupName contains "Environmental Protection Agency" or page.agency contains "Environmental Protection Agency" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/256px-Environmental_Protection_Agency_logo.png" alt="EPA logo" title="EPA">
	{% endif %}

	{% if page.groupName contains "National Archives and Records Administration" or page.agency contains "National Archives and Records Administration" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/nara-logo-150x150.png" alt="National Archives logo" title="NARA">
	{% endif %}

	{% if page.groupName contains "Food and Drug Administration" or page.agency contains "Food and Drug Administration" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/fda.png" alt="FDA logo" title="FDA">
	{% endif %}

	{% if page.groupName contains "Centers for Disease Control" or page.agency contains "Centers for Disease Control" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/256px-US_CDC_logo.png" alt="CDC logo" height="100px" title="CDC">
	{% endif %}

	{% if page.groupName contains "Smithsonian Institution" or page.agency contains "Smithsonian Institution" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/smithsonian-logo-150x150.jpg" alt="ASSI logo" title="Smithsonian Institute">
	{% endif %}

	{% if page.groupName contains "Department of Homeland Security" or page.agency contains "Department of Homeland Security" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/256px-Seal_of_the_United_States_Department_of_Homeland_Security.png" alt="DHS logo" title="DHS">
	{% endif %}

	{% if page.groupName contains "Intelligence Advanced Research Project Activity" or page.agency contains "Intelligence Advanced Research Project Activity" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/200px-Intelligence_Advanced_Research_Projects_Activity_logo.png" alt="IARPA logo" title="IARPA">
	{% endif %}

	{% if page.groupName == "Department of the Interior" or page.agency == "Department of the Interior" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/504px-Seal_of_the_United_States_Department_of_the_Interior.png" alt="DOI logo" title="DOI">
	{% endif %}

	{% if page.groupName contains "Bureau of Reclamation" or page.agency contains "Bureau of Reclamation" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/usbr.jpg" alt="DOI logo" title="DOI">
	{% endif %}

	{% if page.groupName contains "Agency for International Development" or page.agency contains "Agency for International Development" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/USAID_logo.png" alt="USAID logo" title="USAID">
	{% endif %}

	{% if page.groupName contains "National Nuclear Security Administration" or page.agency contains "National Nuclear Security Administration" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/US-NationalNuclearSecurityAdmin-Logo.png" alt="DOE logo" title="DOE">
	{% endif %}

	{% if page.groupName == "Department of Energy - Energy Programs" or page.agency == "Department of Energy - Energy Programs" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/256px-Seal_of_the_United_States_Department_of_Energy.png" alt="DOE logo" title="DOE">
	{% endif %}

	{% if page.groupName == "Department of Energy - Office of Energy Efficiency & Renewable Energy" or page.agency == "Department of Energy - Office of Energy Efficiency & Renewable Energy" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/256px-Seal_of_the_United_States_Department_of_Energy.png" alt="DOE logo" title="DOE">
	{% endif %}

	{% if page.groupName == "Department of Energy" or page.agency == "Department of Energy" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/256px-Seal_of_the_United_States_Department_of_Energy.png" alt="DOE logo" title="DOE">
	{% endif %}

	{% if page.groupName contains "Department of State" or page.agency contains "Department of State" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/state.png" alt="State Dept. logo" title="State Dept">
	{% endif %}

	{% if page.groupName contains "Peace Corps" or page.agency contains "Peace Corps" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/peace_corps.png" alt="Peace Corps logo" title="Peace Corps">
	{% endif %}

	{% if page.groupName contains "Federal Communications Commission" or page.agency contains "Federal Communications Commission" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/fcc-logo-300x252.png" alt="FCC logo" title="FCC">
	{% endif %}

	{% if page.groupName contains "Department of Housing and Urban Development" or page.agency contains "Department of Housing and Urban Development" %}
  		<img src="{{ site.baseurl }}/assets/images/agency/hud.png" alt="HUD logo" title="HUD">
	{% endif %}

	{% if page.groupName contains "Census" or page.agency contains "Census" %}
	<img src="{{ site.baseurl }}/assets/images/agency/census.png" alt="Census logo" title="Census">
	{% endif %}

	{% if page.groupName contains "National Institute of Standards and Technology" or page.agency contains "National Institute of Standards and Technology" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/images/agency/NIST_logo.png" alt="NIST logo" title="NIST">
	{% endif %}

	{% if page.groupName contains "NIST PSCR Group" or page.agency contains "NIST PSCR Group" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/images/agency/pscr.png" alt="NIST PSCR logo" height="100px" title="NIST">
	{% endif %}

	{% if page.groupName == "Department of Health and Human Services" or page.agency == "Department of Health and Human Services" %}
	<img src="{{ site.baseurl }}/assets/images/agency/hhs.png" alt="HHS logo" title="HHS">
    {% endif %}

	{% if page.groupName == "Department of Health and Human Services - Centers for Medicare and Medicaid Services" or page.agency == "Department of Health and Human Services - Centers for Medicare and Medicaid Services" %}
	<img src="{{ site.baseurl }}/assets/images/agency/Centers_for_Medicare_and_Medicaid_Services_logo_2014.png" alt="HHS logo" title="HHS">
	{% endif %}
	
	{% if page.groupName contains "Agency for Healthcare Research and Quality" or page.agency contains "Agency for Healthcare Research and Quality" %}
	<img src="{{ site.baseurl }}/assets/images/agency/ahrq-logo.png" alt="HHS logo" title="HHS">
    {% endif %}

    {% if page.groupName contains "Small Business Administration" or page.agency contains "Small Business Administration" %}
	<img src="{{ site.baseurl }}/assets/images/agency/SBA_logo.jpg" alt="SBA logo" title="HHS">
    {% endif %}
    
    {% if page.groupName contains "General Services Administration" or page.agency contains "General Services Administration" %}
	<img src="{{ site.baseurl }}/assets/images/agency/gsa.png" alt="GSA logo" height="100px" title="HHS">
	{% endif %}


	



	

















