
	{% if page.groupName contains "U.S. Geological Survey" or page.agency contains "U.S. Geological Survey" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/USGS_logo.png" alt="USGS logo" title="USGS">
	{% endif %}

	{% if page.groupName contains "National Science Foundation" or page.agency contains "National Science Foundation" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/nsf.png" alt="NSF logo" title="NSF">
	{% endif %}

	{% if page.groupName contains "Bureau of Land Management" or page.agency contains "Bureau of Land Management" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/US-DOI-BureauOfLandManagement-Logo.png" alt="BLM logo" title="BLM">
	{% endif %}

	{% if page.groupName contains "National Aeronautics and Space Administration" or page.agency contains "National Aeronautics and Space Administration" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/717px-NASA_logo.png" alt="NASA logo" title="NASA">
	{% endif %}

	{% if page.groupName contains "Social Security Administration" or page.agency contains "Social Security Administration" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/SSA_logo.png" alt="SSA logo" title="SSA">
	{% endif %}

	{% if page.groupName contains "Forest Service" or page.agency contains "Forest Service" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/usfs.png" alt="USFS logo" title="USFS">
	{% endif %}

	{% if page.groupName contains "Fish and Wildlife Service" or page.agency contains "Fish and Wildlife Service" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/US-FWS-logo.png" alt="Fish and Wildlife Service logo" title="Fish & Wildlife Service">
	{% endif %}

	{% if page.groupName contains "National Park Service" or page.agency contains "National Park Service" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/920px-US-NationalParkService-Logo..png" alt="NPS logo" title="NPS">
	{% endif %}

	{% if page.groupName contains "Department of Agriculture" or page.agency contains "Department of Agriculture" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/USDA_logo.png" alt="USDA logo" title="USDA">
	{% endif %}

	{% if page.groupName contains "Department of Defense" or page.agency contains "Department of Defense" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/dod_seal.jpg" alt="DOD logo" title="DOD">
	{% endif %}

	{% if page.groupName contains "National Institutes of Health" or page.agency contains "National Institutes of Health" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/NIH_Master_Logo_Vertical_2Color.jpg" alt="NIH logo" title="NIH">
	{% endif %}

	{% if page.groupName contains "Environmental Protection Agency" or page.agency contains "Environmental Protection Agency" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/256px-Environmental_Protection_Agency_logo.png" alt="EPA logo" title="EPA">
	{% endif %}

	{% if page.groupName contains "National Archives and Records Administration" or page.agency contains "National Archives and Records Administration" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/nara-logo-150x150.png" alt="National Archives logo" title="NARA">
	{% endif %}

	{% if page.groupName contains "Food and Drug Administration" or page.agency contains "Food and Drug Administration" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/Food_and_Drug_Administration_logo.png" alt="FDA logo" title="FDA">
	{% endif %}

	{% if page.groupName contains "Centers for Disease Control" or page.agency contains "Centers for Disease Control" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/256px-US_CDC_logo.png" alt="CDC logo" title="CDC">
	{% endif %}

	{% if page.groupName contains "Smithsonian Institution" or page.agency contains "Smithsonian Institution" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/smithsonian-logo-150x150.jpg" alt="ASSI logo" title="Smithsonian Institute">
	{% endif %}

	{% if page.groupName contains "Department of Homeland Security" or page.agency contains "Department of Homeland Security" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/256px-Seal_of_the_United_States_Department_of_Homeland_Security.png" alt="DHS logo" title="DHS">
	{% endif %}

	{% if page.groupName contains "Intelligence Advanced Research Project Activity" or page.agency contains "Intelligence Advanced Research Project Activity" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/200px-Intelligence_Advanced_Research_Projects_Activity_logo.png" alt="IARPA logo" title="IARPA">
	{% endif %}

	{% if page.groupName == "Department of the Interior" or page.agency == "Department of the Interior" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/504px-Seal_of_the_United_States_Department_of_the_Interior.png" alt="DOI logo" title="DOI">
	{% endif %}

	{% if page.groupName contains "Bureau of Reclamation" or page.agency contains "Bureau of Reclamation" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/usbr.jpg" alt="DOI logo" title="DOI">
	{% endif %}

	{% if page.groupName contains "Agency for International Development" or page.agency contains "Agency for International Development" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/USAID_logo.png" alt="USAID logo" title="USAID">
	{% endif %}

	{% if page.groupName contains "National Nuclear Security Administration" or page.agency contains "National Nuclear Security Administration" %}
		  <img src="{{ site.baseurl }}/assets/netlify-uploads/US-NationalNuclearSecurityAdmin-Logo.png" alt="DOE logo" title="DOE">
		{% elsif page.groupName contains "Department of Energy" or page.agency contains "Department of Energy" %}
		  <img src="{{ site.baseurl }}/assets/netlify-uploads/256px-Seal_of_the_United_States_Department_of_Energy.png" alt="DOE logo" title="DOE">
	{% endif %}

	{% if page.groupName contains "Department of State" or page.agency contains "Department of State" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/1200px-Seal_of_the_United_States_Department_of_State.png" alt="State Dept. logo" title="State Dept">
	{% endif %}

	{% if page.groupName contains "Peace Corps" or page.agency contains "Peace Corps" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/peace_corps.png" alt="Peace Corps logo" title="Peace Corps">
	{% endif %}

	{% if page.groupName contains "Federal Communications Commission" or page.agency contains "Federal Communications Commission" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/fcc-logo-300x252.png" alt="FCC logo" title="FCC">
	{% endif %}

	{% if page.groupName contains "Department of Housing and Urban Development" or page.agency contains "Department of Housing and Urban Development" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/hud.png" alt="HUD logo" title="HUD">
	{% endif %}

	{% if page.groupName contains "Census" or page.agency contains "Census" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/US-Census-Bureau-logo.png" alt="Census logo" title="Census">
	{% endif %}

	{% if page.groupName contains "National Institute of Standards and Technology" or page.agency contains "National Institute of Standards and Technology" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/netlify-uploads/NIST_logo.png" alt="NIST logo" title="NIST">
	{% endif %}

	{% if page.groupName contains "NIST PSCR Group" or page.agency contains "NIST PSCR Group" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/netlify-uploads/pscr.png" alt="NIST PSCR logo" height="100" title="NIST">
	{% endif %}

	{% if page.groupName == "Department of Health and Human Services" or page.agency == "Department of Health and Human Services" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" title="HHS">
	{% endif %}
	
	{% if page.groupName == "Department of Health and Human Services - Health Resources and Services Administration" or page.agency == "Department of Health and Human Services - Health Resources and Services Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" title="HHS">
    {% endif %}

	{% if page.groupName == "Department of Health and Human Services - Centers for Medicare and Medicaid Services" or page.agency == "Department of Health and Human Services - Centers for Medicare and Medicaid Services" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/Centers_for_Medicare_and_Medicaid_Services_logo_2014.png" alt="CMS logo" title="CMS">
	{% endif %}

	{% if page.groupName == "Department of Health and Human Services - Substance Abuse and Mental Health Services Administration" or page.agency == "Department of Health and Human Services - Substance Abuse and Mental Health Services Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/SAMHSA.png" alt="SAMHSA logo" title="SAMHSA">
	{% endif %}

	{% if page.groupName == "Department of Health and Human Services - Administration for Children and Families" or page.agency == "Department of Health and Human Services - Administration for Children and Families" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" title="HHS">
	{% endif %}

	{% if page.groupName == "Department of Health and Human Services - Office of the Assistant Secretary for Preparedness and Response" or page.agency == "Department of Health and Human Services - Office of the Assistant Secretary for Preparedness and Response" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" title="HHS">
	{% endif %}

	{% if page.groupName == "Department of Health and Human Services - Office of the National Coordination for Health Information Technology" or page.agency == "Department of Health and Human Services - Office of the National Coordination for Health Information Technology" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" title="HHS">
	{% endif %}
	
	{% if page.groupName contains "Agency for Healthcare Research and Quality" or page.agency contains "Agency for Healthcare Research and Quality" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/ahrq-logo.jpg" alt="AHRQ logo" title="AHRQ">
    {% endif %}

    {% if page.groupName contains "Small Business Administration" or page.agency contains "Small Business Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/SBA_logo.jpg" alt="SBA logo" title="SBA">
    {% endif %}
    
    {% if page.groupName contains "General Services Administration" or page.agency contains "General Services Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/gsa.png" alt="GSA logo" height="100" title="GSA">
	{% endif %}

	{% if page.groupName contains "Department of Veterans Affairs" or page.agency contains "Department of Veterans Affairs" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/va-long-logo.png" alt="VA logo" title="VA">
	{% endif %}

	{% if page.groupName contains "Department of Transportation" or page.agency contains "Department of Transportation" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/DOT_logo.jpg" alt="DOT logo" title="DOT">
	{% endif %}

	{% if page.groupName contains "U.S. Patent and Trademark Office" or page.agency contains "U.S. Patent and Trademark Office" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/uspto.jpg" alt="USPTO logo" title="USPTO">
	{% endif %}

	{% if page.groupName contains "Corporation for National and Community Service" or page.agency contains "Corporation for National and Community Service" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/corp-for-natl-comm-service.png" alt="CNCS logo" title="CNCS">
	{% endif %}

	{% if page.groupName contains "Library of Congress" or page.agency contains "Library of Congress" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/library-of-congress_large.jpg" alt="LOC logo" title="LOC">
	{% endif %}

	{% if page.groupName contains "Department of Education" or page.agency contains "Department of Education" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/Department_of_Education.png" alt="Department of Education logo" title="Dept of Education">
	{% endif %}

	{% if page.groupName contains "Federal Trade Commission" or page.agency contains "Federal Trade Commission" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/federal_trade_commission.jpg" alt="FTC logo" title="FTC">
	{% endif %}

	{% if page.groupName contains "National Oceanic and Atmospheric Administration" or page.agency contains "National Oceanic and Atmospheric Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/noaa_logo.png" alt="NOAA logo" title="NOAA">
	{% endif %}

	{% if page.groupName contains "House of Representatives" or page.agency contains "House of Representatives" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/US_house_of_representatives.png" alt="US House of Representatives logo" title="US House of Representatives">
	{% endif %}

	{% if page.groupName contains "Office of Justice Programs" or page.agency contains "Office of Justice Programs" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/dept_of_justice.png" alt="Department of Justice - Office of Justice Programs logo" title="Department of Justice - Office of Justice Programs">
	{% endif %}

	{% if page.groupName == "Department of Justice" or page.agency == "Department of Justice" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/dept_of_justice.png" alt="Department of Justice - Office of Justice Programs logo" title="Department of Justice - Office of Justice Programs">
	{% endif %}

	{% if page.groupName contains "Federal Maritime Commission" or page.agency contains "Federal Maritime Commission" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/fed_maritime_commission_large.jpg" alt="Federal Maritime Commission logo" title="Federal Maritime Commission logo">
	{% endif %}

	{% if page.groupName contains "Internal Revenue Service" or page.agency contains "Internal Revenue Service" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/irs.gif" alt="Internal Revenue Service logo" title="Internal Revenue Service logo">
	{% endif %}

	{% if page.groupName contains "Millennium Challenge Corporation" or page.agency contains "Millennium Challenge Corporation" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/millennium-challenge-corporation.png" alt="Millennium Challenge Corporation logo" height="120" title="Millennium Challenge Corporation logo">
	{% endif %}

	{% if page.groupName == "Department of the Treasury" or page.agency == "Department of the Treasury" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/treasury.gif" alt="Department of the Treasury logo" title="Department of the Treasury logo">
	{% endif %}

	{% if page.groupName == "Department of Labor" or page.agency == "Department of Labor" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/DOL-MasterLogo_Color300.png" alt="Department of Labor logo" title="Department of Labor logo">
	{% endif %}

	{% if page.groupName contains "FDIC" or page.agency contains "FDIC" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/FDIC.png" alt="FDIC logo" title="FDIC logo">
	{% endif %}

	{% if page.groupName contains "National Security Agency" or page.agency contains "National Security Agency" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/nsa.png" alt="NSA logo" title="NSA logo">
	{% endif %}
	
	{% if page.groupName contains "National Endowment for the Humanities" or page.agency contains "National Endowment for the Humanities" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/natl_endowment_humanities.jpg" alt="NEH logo" title="NEH logo">
	{% endif %}

	{% if page.groupName == "Office of Director of National Intelligence" or page.agency == "Office of Director of National Intelligence" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/ODNI.png" alt="ODNI logo" title="ODNI logo">
	{% endif %}

	{% if page.groupName == "Consumer Product Safety Commission" or page.agency == "Consumer Product Safety Commission" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/cpsc.png" alt="CPSC logo" title="CPSC logo">
	{% endif %}

	{% if page.groupName contains "Office of Management and Budget" or page.agency contains "Office of Management and Budget" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/omb.png" alt="OMB logo" title="OMB logo">
	{% endif %}

	{% if page.groupName == "Department of Commerce" or page.agency == "Department of Commerce" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/commerce_logo.png" alt="Commerce logo" title="Commerce logo">
	{% endif %}

	{% if page.groupName contains "White House" or page.agency contains "White House" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/white_house-logo.jpeg" alt="White House logo" title="White House logo">
	{% endif %}


	
	



	








