
	{% if challenge.groupName contains "U.S. Geological Survey" or challenge.agency contains "U.S. Geological Survey" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/USGS_logo.png" alt="USGS logo" width="140" title="USGS">
	{% endif %}

	{% if challenge.groupName contains "National Science Foundation" or challenge.agency contains "National Science Foundation" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/nsf.png" alt="NSF logo" height="120" title="NSF">
	{% endif %}

	{% if challenge.groupName contains "Bureau of Land Management" or challenge.agency contains "Bureau of Land Management" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/US-DOI-BureauOfLandManagement-Logo.png" alt="BLM logo" height="120" title="BLM">
	{% endif %}

	{% if challenge.groupName contains "National Aeronautics and Space Administration" or challenge.agency contains "National Aeronautics and Space Administration" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/717px-NASA_logo.png" alt="NASA logo" height="120" title="NASA">
	{% endif %}

	{% if challenge.groupName contains "Social Security Administration" or challenge.agency contains "Social Security Administration" %}
		<img src="{{ site.baseurl }}/assets/netlify-uploads/SSA_logo.png" alt="SSA logo" height="120" title="SSA">
	{% endif %}

	{% if challenge.groupName contains "Forest Service" or challenge.agency contains "Forest Service" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/usfs.png" alt="USFS logo" height="120" title="USFS">
	{% endif %}

	{% if challenge.groupName contains "Fish and Wildlife Service" or challenge.agency contains "Fish and Wildlife Service" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/US-FWS-logo.png" alt="Fish and Wildlife Service logo" height="120" title="Fish & Wildlife Service">
	{% endif %}

	{% if challenge.groupName contains "National Park Service" or challenge.agency contains "National Park Service" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/920px-US-NationalParkService-Logo..png" alt="NPS logo" height="120" title="NPS">
	{% endif %}

	{% if challenge.groupName contains "Department of Agriculture" or challenge.agency contains "Department of Agriculture" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/USDA_logo.png" alt="USDA logo" width="120" title="USDA">
	{% endif %}

	{% if challenge.groupName contains "Department of Defense" or challenge.agency contains "Department of Defense" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/dod_seal.jpg" alt="DOD logo" height="120" title="DOD">
	{% endif %}

	{% if challenge.groupName contains "National Institutes of Health" or challenge.agency contains "National Institutes of Health" %}
  		<img style="padding-top: 1em" src="{{ site.baseurl }}/assets/netlify-uploads/NIH_Master_Logo_Vertical_2Color.jpg" alt="NIH logo" width="120" title="NIH">
	{% endif %}

	{% if challenge.groupName contains "Environmental Protection Agency" or challenge.agency contains "Environmental Protection Agency" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/256px-Environmental_Protection_Agency_logo.png" alt="EPA logo" height="120" title="EPA">
	{% endif %}

	{% if challenge.groupName contains "National Archives and Records Administration" or challenge.agency contains "National Archives and Records Administration" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/nara-logo-150x150.png" alt="National Archives logo" height="120" title="NARA">
	{% endif %}

	{% if challenge.groupName contains "Food and Drug Administration" or challenge.agency contains "Food and Drug Administration" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/Food_and_Drug_Administration_logo.png" alt="FDA logo" width="120" title="FDA">
	{% endif %}

	{% if challenge.groupName contains "Centers for Disease Control" or challenge.agency contains "Centers for Disease Control" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/256px-US_CDC_logo.png" alt="CDC logo" height="100" title="CDC">
	{% endif %}

	{% if challenge.groupName contains "Smithsonian Institution" or challenge.agency contains "Smithsonian Institution" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/smithsonian-logo-150x150.jpg" alt="ASSI logo" height="120" title="Smithsonian Institute">
	{% endif %}

	{% if challenge.groupName contains "Department of Homeland Security" or challenge.agency contains "Department of Homeland Security" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/256px-Seal_of_the_United_States_Department_of_Homeland_Security.png" alt="DHS logo" height="120" title="DHS">
	{% endif %}

	{% if challenge.groupName contains "Intelligence Advanced Research Project Activity" or challenge.agency contains "Intelligence Advanced Research Project Activity" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/200px-Intelligence_Advanced_Research_Projects_Activity_logo.png" alt="IARPA logo" height="120" title="IARPA">
	{% endif %}

	{% if challenge.groupName == "Department of the Interior" or challenge.agency == "Department of the Interior" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/504px-Seal_of_the_United_States_Department_of_the_Interior.png" alt="DOI logo" height="120" title="DOI">
	{% endif %}

	{% if challenge.groupName contains "Bureau of Reclamation" or challenge.agency contains "Bureau of Reclamation" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/usbr.jpg" alt="DOI logo" height="120" title="DOI">
	{% endif %}

	{% if challenge.groupName contains "Agency for International Development" or challenge.agency contains "Agency for International Development" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/USAID_logo.png" alt="USAID logo" height="120" title="USAID">
	{% endif %}

	{% if challenge.groupName contains "National Nuclear Security Administration" or challenge.agency contains "National Nuclear Security Administration" %}
			<img src="{{ site.baseurl }}/assets/netlify-uploads/US-NationalNuclearSecurityAdmin-Logo.png" alt="DOE logo" width="120" title="DOE">
		{% elsif challenge.groupName contains "Department of Energy" or challenge.agency contains "Department of Energy" %}
			<img src="{{ site.baseurl }}/assets/netlify-uploads/256px-Seal_of_the_United_States_Department_of_Energy.png" alt="DOE logo" height="120" title="DOE">
	{% endif %}

	{% if challenge.groupName contains "Department of State" or challenge.agency contains "Department of State" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/1200px-Seal_of_the_United_States_Department_of_State.png" alt="State Dept. logo" height="120" title="State Dept">
	{% endif %}

	{% if challenge.groupName contains "Peace Corps" or challenge.agency contains "Peace Corps" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/peace_corps.png" alt="Peace Corps logo" height="120" title="Peace Corps">
	{% endif %}

	{% if challenge.groupName contains "Federal Communications Commission" or challenge.agency contains "Federal Communications Commission" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/fcc-logo-300x252.png" alt="FCC logo" height="120" title="FCC">
	{% endif %}

	{% if challenge.groupName contains "Department of Housing and Urban Development" or challenge.agency contains "Department of Housing and Urban Development" %}
  		<img src="{{ site.baseurl }}/assets/netlify-uploads/hud.png" alt="HUD logo" height="120" title="HUD">
	{% endif %}

	{% if challenge.groupName contains "Census" or challenge.agency contains "Census" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/US-Census-Bureau-logo.png" alt="Census logo" height="120" title="Census">
	{% endif %}

	{% if challenge.groupName contains "National Institute of Standards and Technology" or challenge.agency contains "National Institute of Standards and Technology" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/netlify-uploads/NIST_logo.png" alt="NIST logo" width="120" title="NIST">
	{% endif %}

	{% if challenge.groupName contains "NIST PSCR Group" or challenge.agency contains "NIST PSCR Group" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/netlify-uploads/pscr.png" alt="NIST PSCR logo" height="100" title="NIST">
	{% endif %}

	{% if challenge.groupName == "Department of Health and Human Services" or challenge.agency == "Department of Health and Human Services" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" height="120" title="HHS">
	{% endif %}
	
	{% if challenge.groupName == "Department of Health and Human Services - Health Resources and Services Administration" or challenge.agency == "Department of Health and Human Services - Health Resources and Services Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" height="120" title="HHS">
    {% endif %}

	{% if challenge.groupName == "Department of Health and Human Services - Centers for Medicare and Medicaid Services" or challenge.agency == "Department of Health and Human Services - Centers for Medicare and Medicaid Services" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/Centers_for_Medicare_and_Medicaid_Services_logo_2014.png" alt="CMS logo" width="120" title="CMS">
	{% endif %}

	{% if challenge.groupName == "Department of Health and Human Services - Substance Abuse and Mental Health Services Administration" or challenge.agency == "Department of Health and Human Services - Substance Abuse and Mental Health Services Administration" %}
	<img style="padding-top: 1em" src="{{ site.baseurl }}/assets/netlify-uploads/SAMHSA.png" alt="SAMHSA logo" width="120" title="SAMHSA">
	{% endif %}

	{% if challenge.groupName == "Department of Health and Human Services - Administration for Children and Families" or challenge.agency == "Department of Health and Human Services - Administration for Children and Families" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" height="120" title="HHS">
	{% endif %}

	{% if challenge.groupName == "Department of Health and Human Services - Office of the Assistant Secretary for Preparedness and Response" or challenge.agency == "Department of Health and Human Services - Office of the Assistant Secretary for Preparedness and Response" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" height="120" title="HHS">
	{% endif %}

	{% if challenge.groupName == "Department of Health and Human Services - Office of the National Coordination for Health Information Technology" or challenge.agency == "Department of Health and Human Services - Office of the National Coordination for Health Information Technology" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/hhs.png" alt="HHS logo" height="120" title="HHS">
	{% endif %}
	
	{% if challenge.groupName contains "Agency for Healthcare Research and Quality" or challenge.agency contains "Agency for Healthcare Research and Quality" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/ahrq-logo.jpg" alt="AHRQ logo" width="160" title="AHRQ">
    {% endif %}

    {% if challenge.groupName contains "Small Business Administration" or challenge.agency contains "Small Business Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/SBA_logo.jpg" alt="SBA logo" height="120" title="SBA">
    {% endif %}
    
    {% if challenge.groupName contains "General Services Administration" or challenge.agency contains "General Services Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/gsa.png" alt="GSA logo" height="100" title="GSA">
	{% endif %}

	{% if challenge.groupName contains "Department of Veterans Affairs" or challenge.agency contains "Department of Veterans Affairs" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/valogo.png" alt="VA logo" height="120" title="VA">
	{% endif %}

	{% if challenge.groupName contains "Department of Transportation" or challenge.agency contains "Department of Transportation" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/DOT_logo.jpg" alt="DOT logo" height="120" title="DOT">
	{% endif %}

	{% if challenge.groupName contains "U.S. Patent and Trademark Office" or challenge.agency contains "U.S. Patent and Trademark Office" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/netlify-uploads/uspto.jpg" alt="USPTO logo" width="120" title="USPTO">
	{% endif %}

	{% if challenge.groupName contains "Corporation for National and Community Service" or challenge.agency contains "Corporation for National and Community Service" %}
	<img style="margin-top: .5rem;" src="{{ site.baseurl }}/assets/netlify-uploads/corp-for-natl-comm-service.png" alt="CNCS logo" width="120" title="CNCS">
	{% endif %}

	{% if challenge.groupName contains "Library of Congress" or challenge.agency contains "Library of Congress" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/library-of-congress_small.png" alt="LOC logo" width="120" title="LOC">
	{% endif %}

	{% if challenge.groupName contains "Department of Education" or challenge.agency contains "Department of Education" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/Department_of_Education.png" alt="Department of Education logo" width="120" title="Department of Education">
	{% endif %}

	{% if challenge.groupName contains "Federal Trade Commission" or challenge.agency contains "Federal Trade Commission" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/federal_trade_commission.jpg" alt="FTC logo" width="120" title="FTC">
	{% endif %}

	{% if challenge.groupName contains "National Oceanic and Atmospheric Administration" or challenge.agency contains "National Oceanic and Atmospheric Administration" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/noaa_logo.png" alt="NOAA logo" width="120" title="NOAA">
	{% endif %}

	{% if challenge.groupName contains "House of Representatives" or challenge.agency contains "House of Representatives" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/US_house_of_representatives.png" alt="US House of Representatives logo" width="120" title="US House of Representatives">
	{% endif %}

	{% if challenge.groupName contains "Office of Justice Programs" or challenge.agency contains "Office of Justice Programs" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/dept_of_justice.png" alt="Department of Justice - Office of Justice Programs logo" width="120" title="Department of Justice - Office of Justice Programs">
	{% endif %}

	{% if challenge.groupName == "Department of Justice" or challenge.agency == "Department of Justice" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/dept_of_justice.png" alt="Department of Justice - Office of Justice Programs logo" width="120" title="Department of Justice - Office of Justice Programs">
	{% endif %}

	{% if challenge.groupName contains "Federal Maritime Commission" or challenge.agency contains "Federal Maritime Commission" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/fed_maritime_commission.png" alt="Federal Maritime Commission logo" width="120" title="Federal Maritime Commission logo">
	{% endif %}

	{% if challenge.groupName contains "Internal Revenue Service" or challenge.agency contains "Internal Revenue Service" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/irs.gif" alt="Internal Revenue Service logo" height="120" title="Internal Revenue Service logo">
	{% endif %}

	{% if challenge.groupName contains "Millennium Challenge Corporation" or challenge.agency contains "Millennium Challenge Corporation" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/millennium-challenge-corporation.png" alt="Millennium Challenge Corporation logo" height="120" title="Millennium Challenge Corporation logo">
	{% endif %}

	{% if challenge.groupName == "Department of the Treasury" or challenge.agency == "Department of the Treasury" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/treasury.gif" alt="Department of the Treasury logo" height="120" title="Department of the Treasury logo">
	{% endif %}

	{% if challenge.groupName == "Department of Labor" or challenge.agency == "Department of Labor" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/DOL-MasterLogo_Color300.png" alt="Department of Labor logo" height="120" title="Department of Labor logo">
	{% endif %}

	{% if challenge.groupName contains "FDIC" or challenge.agency contains "FDIC" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/FDIC.png" alt="FDIC logo" width="120" title="FDIC logo">
	{% endif %}

	{% if challenge.groupName contains "National Security Agency" or challenge.agency contains "National Security Agency" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/nsa.png" alt="NSA logo" width="120" title="NSA logo">
	{% endif %}

	{% if challenge.groupName contains "National Endowment for the Humanities" or challenge.agency contains "National Endowment for the Humanities" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/natl_endowment_humanities.jpg" alt="NEH logo" width="120" title="NEH logo">
	{% endif %}
	
	{% if challenge.groupName == "Office of Director of National Intelligence" or challenge.agency == "Office of Director of National Intelligence" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/ODNI.png" alt="ODNI logo" width="120" title="ODNI logo">
	{% endif %}

	{% if challenge.groupName == "Consumer Product Safety Commission" or challenge.agency == "Consumer Product Safety Commission" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/cpsc.png" alt="CPSC logo" width="120" title="CPSC logo">
	{% endif %}

	{% if challenge.groupName contains "Office of Management and Budget" or challenge.agency contains "Office of Management and Budget" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/omb.png" alt="OMB logo" width="120" title="OMB logo">
	{% endif %}

	{% if challenge.groupName == "Department of Commerce" or challenge.agency == "Department of Commerce" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/commerce_logo.png" alt="Commerce logo" width="120" title="Commerce logo">
	{% endif %}

	{% if challenge.groupName contains "White House" or challenge.agency contains "White House" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/white_house-logo.jpeg" alt="White House logo" width="170" title="White House logo">
	{% endif %}

	{% if challenge.groupName contains "United States Mint" or challenge.agency contains "United States Mint" %}
	<img src="{{ site.baseurl }}/assets/netlify-uploads/treasury-us-mint.png" alt="United States Mint logo" width="120" title="United States Mint logo">
	{% endif %}





	

















