<aside class="desktop:grid-col-fill margin-top-4 padding-right-4">
    <div
      class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
      <h4 class="">Most Recent Posts</h4>
      <ul class="usa-list usa-list--unstyled padding-top-2">
        {% for post in site.posts limit:3 %}
        <li class="padding-bottom-1">
          <a class="usa-link" href="{{site.baseurl}}{{post.url}}">
              {{ post.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div
      class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
      <h4>Social links</h4>
      <ul class="usa-list usa-list--unstyled padding-top-2">
           <li class="padding-bottom-1">
          <i class="fab fa-twitter text-primary width-2 margin-right-2"></i>
          <a class="usa-link" href="https://twitter.com/challengegov">Twitter</a>
        </li>
        <li class="padding-bottom-1">
          <i class="fab fa-facebook-f text-primary padding-left-05 width-2 margin-right-2"></i>
          <a class="usa-link" href="https://www.facebook.com/ChallengeGov/">Facebook</a>
        </li>
        <li class="padding-bottom-1">
          <i class="fab fa-linkedin-in text-primary width-2 margin-right-2"></i>
          <a class="usa-link" href="https://www.linkedin.com/company/challengegov/">LinkedIn</a>
        </li>
        <li class="padding-bottom-1">
          <i class="fab fa-github text-primary width-2 margin-right-2"></i>
          <a class="usa-link" href="https://github.com/GSA/challenges-and-prizes">Github</a>
        </li>
      </ul>
    </div>
  </aside>
