<aside class="desktop:grid-col-fill margin-top-4 padding-right-4">
    <div
      class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
      <h3 style="color:#112f4e;">Recent Posts</h3>
      <ul class="usa-list usa-list--unstyled padding-top-2">
        {% for post in site.posts limit:3 %}
        <li class="padding-bottom-1">
          <a class="usa-link" href="{{site.baseurl}}{{post.url}}">
              {{ post.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div
      class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
        <h3 style="color:#112f4e;">Stay Informed</h3>
              <div><a href="https://www.twitter.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Twitter"><i class="fab fa-twitter"></i></a><a href="https://www.facebook.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Facebook"><i class="fab fa-facebook"></i></a><a href="https://www.linkedin.com/company/challengegov/" class="margin-right-1 usa-footer__social_link" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a> <a href="https://github.com/GSA/Challenge_gov" class="margin-right-1 usa-footer__social_link" aria-label="GitHub"><i class="fab fa-github"></i></a><a href="https://public.govdelivery.com/accounts/USGSATTS/signup/30826" class="margin-right-1 usa-footer__social_link" aria-label="Newsletter signup"><i class="fa fa-envelope"></i> </a> </div>
      
    </div>
  </aside>
