<aside class="desktop:grid-col-fill margin-top-4 padding-right-4">
    <div
      class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
      <h3 class="margin-bottom-0" style="color:#112f4e;">Recent Posts</h3>
      <ul class="usa-list usa-list--unstyled padding-top-2">
        {% for post in site.posts limit:3 %}
        <li class="padding-bottom-1 margin-bottom-0">
          <a class="usa-link" href="{{site.baseurl}}{{post.url}}">
              {{ post.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div
      class="border-top-1 border-accent-cool-darker padding-top-2 margin-bottom-4 usa-prose">
        <h3 style="color:#112f4e;">Stay Informed</h3>
              <div><a href="https://www.twitter.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Twitter">
                 <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="twitter" role="img">
  <title id="twitter">ChallengeGov twitter account</title>        <use xlink:href="/assets/img/sprite.svg#twitter"></use>
      </svg>
      </svg>
              </a><a href="https://www.facebook.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Facebook">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="facebook" role="img">
  <title id="facebook">ChallengeGov facebook account</title>        <use xlink:href="/assets/img/sprite.svg#facebook"></use>
      </svg>
      </svg>
              </a>
              <!-- <a href="https://www.linkedin.com/company/challengegov/" class="margin-right-1 usa-footer__social_link" aria-label="LinkedIn">
               <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="linkedin" role="img">
                  <title id="linkedin">ChallengeGov linkedin account</title>        <use xlink:href="/assets/img/sprite.svg#linkedin"></use>
                </svg>
              </a>  -->
              <a href="https://github.com/GSA/Challenge_gov" class="margin-right-1 usa-footer__social_link" aria-label="GitHub">
                 <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="github" role="img">
  <title id="github">ChallengeGov github account</title>        <use xlink:href="/assets/img/sprite.svg#github"></use>
      </svg>
</svg>              </a><a href="https://public.govdelivery.com/accounts/USGSATTS/signup/30826" class="margin-right-1 usa-footer__social_link" aria-label="Newsletter signup">
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="newsletter" role="img">
  <title id="newsletter">ChallengeGov newsletter signup</title>        <use xlink:href="/assets/img/sprite.svg#mail"></use>
      </svg>
</svg>
              </a> </div>
      
    </div>
  </aside>
