<section class="usa-section bg-base-lightest">
        <div class="grid-container">
            <div class="grid-row">
                {% assign sorted = (site.challenges | sort: 'submission-end') %}
                {% for challenge in sorted %}
            <div class="tablet:grid-col-4 cards">
                    <div class="card">
                        <a href="{{ site.baseurl }}{{ challenge.url }}">
                        <div class="card__image" style="background-image: url('{{ site.baseurl }}{{ challenge.card-image }}')"></div>
                        </a>
                        <div class="padding-x-1">
                            {% assign dataset = site.data.challenges %}
                            {% for item in dataset %}
                            {% if item.id == challenge.challenge-id %}
                            <span class="text-gray-50 padding-top-1">{{ item.groupName }}</span>
                            <h3 class="text-primary-dark text-bold text-uppercase margin-y-1 text-ls-1">{{ item.name }}</h3>
                            <span class="text-base-darker text-thin">{{ item.tagline }}</span>
                        </div>
                        <div class="card__body padding-x-1">
                                <p><span class="text-bold">Open Until:</span> {{ item.campaignAttributes.attributes.submission-end-date }} ET</p>
                        </div>
                        <div class="card__action card__action-block"> <a href="{{ site.baseurl }}/challenges/{{ item.name | slugify }} " class="usa-button radius-0">View Details</a></div>
                            {% endif %}
                            {% endfor %}
                    </div>
            </div>
                {% endfor %}
            </div>
        </div>
</section>