{% if site.branch == "master" %}
    <div id="challenge-gov-react-app" data-api-url="https://challenge.portal.gov"></div>
{% elsif site.branch == "staging" %}
    <div id="challenge-gov-react-app" data-api-url="https://challenge-portal-staging.app.cloud.gov"></div>
{% elsif site.branch == "" %}
    <div id="challenge-gov-react-app" data-api-url="http://localhost:4000"></div>
{% else %}
    <div id="challenge-gov-react-app" data-api-url="https://challenge-portal-dev.app.cloud.gov"></div>
{% endif %}
