    
<!-- Contact start -->

<h3 id="contact" class="text-accent-warm-dark font-heading-lg challenge-section">Point of Contact</h3>

<div>
    <p class="text-bold">Have feedback or questions about this challenge?
        {% if page.challenge-manager-email %}
    <a class="usa-link--external" href="mailto:{{ page.challenge-manager-email }}">  Send the challenge manager an email</a></p>
    {% else %}
    <a class="usa-link--external" href="mailto:team@challenge.gov">  Send the challenge manager an email</a></p>
    {% endif %}
</div>