
    <h3 class="text-accent-warm-dark font-heading-lg challenge-section" id="judging-criteria">Judging Criteria</h3>
    
    <!--Judging Criteria #1 -->
    
    {% if page.judging-criteria-0 != "" %}
    <p>
    <strong>{{ page.judging-criteria-0 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-0 != "" %}
    Percentage: {{ page.judging-criteria-percentage-0 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-0 != "" %}
    {{ page.judging-criteria-description-0 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #2 -->
    {% if page.judging-criteria-1 != "" %}
    <p>
    <strong>{{ page.judging-criteria-1 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-1 != "" %}
    Percentage: {{ page.judging-criteria-percentage-1 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-1 != "" %}
    {{ page.judging-criteria-description-1 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #3 -->
    {% if page.judging-criteria-2 != "" %}
    <p>
    <strong>{{ page.judging-criteria-2 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-2 != "" %}
    Percentage: {{ page.judging-criteria-percentage-2 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-2 != "" %}
    {{ page.judging-criteria-description-2 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #4 -->
    {% if page.judging-criteria-3 != "" %}
    <p>
    <strong>{{ page.judging-criteria-3 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-3 != "" %}
    Percentage: {{ page.judging-criteria-percentage-3 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-3 != "" %}
    {{ page.judging-criteria-description-3 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #5 -->
    {% if page.judging-criteria-4 != "" %}
    <p>
    <strong>{{ page.judging-criteria-4 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-4 != "" %}
    Percentage: {{ page.judging-criteria-percentage-4 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-4 != "" %}
    {{ page.judging-criteria-description-4 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #6 -->
    {% if page.judging-criteria-5 != "" %}
    <p>
    <strong>{{ page.judging-criteria-5 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-5 != "" %}
    Percentage: {{ page.judging-criteria-percentage-5 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-5 != "" %}
    {{ page.judging-criteria-description-5 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #7 -->
    {% if page.judging-criteria-6 != "" %}
    <p>
    <strong>{{ page.judging-criteria-6 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-6 != "" %}
    Percentage: {{ page.judging-criteria-percentage-6 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-6 != "" %}
    {{ page.judging-criteria-description-6 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #8 -->
    {% if page.judging-criteria-7 != "" %}
    <p>
    <strong>{{ page.judging-criteria-7 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-7 != "" %}
    Percentage: {{ page.judging-criteria-percentage-7 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-7 != "" %}
    {{ page.judging-criteria-description-7 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #9 -->
    {% if page.judging-criteria-8 != "" %}
    <p>
    <strong>{{ page.judging-criteria-8 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-8 != "" %}
    Percentage: {{ page.judging-criteria-percentage-8 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-8 != "" %}
    {{ page.judging-criteria-description-8 }}<br>
    </p>
    {% endif %}
    
    <!--Judging Criteria #10 -->
    {% if page.judging-criteria-9 != "" %}
    <p>
    <strong>{{ page.judging-criteria-9 }}</strong><br>
    {% endif %}

    {% if page.judging-criteria-percentage-9 != "" %}
    Percentage: {{ page.judging-criteria-percentage-9 }}<br>
    {% endif %}

    {% if page.judging-criteria-description-9 != "" %}
    {{ page.judging-criteria-description-9 }}<br>
    </p>
    {% endif %}
    