<h3 class="text-accent-warm-dark font-heading-lg hallenge-section" id="prizes">Prizes</h3>


<strong>{{ page.prize-name-0 }}</strong><br>
{% if page.prize-cash-amount-0 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-0 }}<br>
{% endif %}
{% if page.prize-description-0 != "" %}
{{ page.prize-description-0 }}
{% endif %}



{% if page.prize-name-1 != "" %}
<p>
<strong>{{ page.prize-name-1 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-1 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-1 }}<br>
{% endif %}
{% if page.prize-description-1 != "" %}
{{ page.prize-description-1 }}<br>
{% endif %}
</p>


{% if page.prize-name-2 != "" %}
<p>
<strong>{{ page.prize-name-2 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-2 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-2 }}<br>
{% endif %}
{% if page.prize-description-2 != "" %}
{{ page.prize-description-2 }}<br>
{% endif %}
</p>

{% if page.prize-name-3 != "" %}
<p>
<strong>{{ page.prize-name-3 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-3 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-3 }}<br>
{% endif %}
{% if page.prize-description-3 != "" %}
{{ page.prize-description-3 }}<br>
{% endif %}
</p>

{% if page.prize-name-4 != "" %}
<p>
<strong>{{ page.prize-name-4 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-4 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-4 }}<br>
{% endif %}
{% if page.prize-description-4 != "" %}
{{ page.prize-description-4 }}<br>
{% endif %}
</p>

{% if page.prize-name-5 != "" %}
<p>
<strong>{{ page.prize-name-5 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-5 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-5 }}<br>
{% endif %}
{% if page.prize-description-5 != "" %}
{{ page.prize-description-5 }}<br>
{% endif %}
</p>

{% if page.prize-name-6 != "" %}
<p>
<strong>{{ page.prize-name-6 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-6 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-6 }}<br>
{% endif %}
{% if page.prize-description-6 != "" %}
{{ page.prize-description-6 }}<br>
{% endif %}
</p>

{% if page.prize-name-7 != "" %}
<p>
<strong>{{ page.prize-name-7 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-7 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-7 }}<br>
{% endif %}
{% if page.prize-description-7 != "" %}
{{ page.prize-description-7 }}<br>
{% endif %}
</p>

{% if page.prize-name-8 != "" %}
<p>
<strong>{{ page.prize-name-8 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-8 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-8 }}<br>
{% endif %}
{% if page.prize-description-8 != "" %}
{{ page.prize-description-8 }}<br>
{% endif %}
</p>

{% if page.prize-name-9 != "" %}
<p>
<strong>{{ page.prize-name-9 }}</strong><br>
{% endif %}
{% if page.prize-cash-amount-9 != "" %}
Cash Prize Amount: ${{ page.prize-cash-amount-9 }}<br>
{% endif %}
{% if page.prize-description-9 != "" %}
{{ page.prize-description-9 }}<br>
{% endif %}
</p>
