<div class="tablet:grid-col-10 margin-bottom-4 tablet:margin-bottom-0">
  <nav aria-label="Side navigation,,">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="{{ site.baseurl }}/cm-user-guide/" title="Home" aria-label="user guide home" style="text-decoration: none !important;"> User Guide Home</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Getting Started</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/cm-user-guide/create-your-account/" title="Create your accounts" aria-label="Create your account" style="text-decoration: none !important;">&nbsp;&nbsp;Create your account</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/logging-in/" style="text-decoration: none !important;">&nbsp;&nbsp;Logging in</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/logging-out/" style="text-decoration: none !important;">&nbsp;&nbsp;Logging out</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/recertify-your-account/" style="text-decoration: none !important;">&nbsp;&nbsp;Recertify your account</a>
          </li>
        </ul>
      </li>
       <li class="usa-sidenav__item">
        <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Challenge Management</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/create-challenge/" style="text-decoration: none !important;">&nbsp;&nbsp;Create challenge</a>
          </li>
           <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/edit-draft-challenge/" style="text-decoration: none !important;">&nbsp;&nbsp;Edit draft challenge</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/delete-challenge/" style="text-decoration: none !important;">&nbsp;&nbsp;Delete challenge</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/print-challenges" style="text-decoration: none !important;">&nbsp;&nbsp;Print challenges</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/updated-open-challenge/" style="text-decoration: none !important;">&nbsp;&nbsp;Update open challenge</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/print-challenge/" style="text-decoration: none !important;">&nbsp;&nbsp;Print challenge listing</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/download-challenge-profile/" style="text-decoration: none !important;">&nbsp;&nbsp;Download challenge profile</a>
          </li>
           <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/add-announcement/" style="text-decoration: none !important;">&nbsp;&nbsp;Add announcement</a>
          </li>
           <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/edit-announcement/" style="text-decoration: none !important;">&nbsp;&nbsp;Edit announcement</a>
          </li>
           <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/remove-announcement/" style="text-decoration: none !important;">&nbsp;&nbsp;Remove announcement</a>
          </li>
           <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/add-winner-information/" style="text-decoration: none !important;">&nbsp;&nbsp;Add winner information</a>
          </li>
           <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/add-challenge-managers/" style="text-decoration: none !important;">&nbsp;&nbsp;Add challenge managers</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/grant-contractor-access/" style="text-decoration: none !important;">&nbsp;&nbsp;Grant contractor access</a>
          </li>
        </ul>
      </li>
       <li class="usa-sidenav__item">
        <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Manage Submissions</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/collect-submissions/" style="text-decoration: none !important;">&nbsp;&nbsp;Collect submissions</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/view-submissions/" style="text-decoration: none !important;">&nbsp;&nbsp;View submissions</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/download-submissions/" style="text-decoration: none !important;">&nbsp;&nbsp;Download submission details</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/progress-submissions/" style="text-decoration: none !important;">&nbsp;&nbsp;Progress submissions</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/manage-finalists-invites/" style="text-decoration: none !important;">&nbsp;&nbsp;Manage finalists invites</a>
          </li>
        </ul>
      </li>
        <li class="usa-sidenav__item">
        <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Manage Submissions Externally</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/direct-solvers-to-external-website/" style="text-decoration: none !important;">&nbsp;&nbsp;Direct solvers to external website</a>
          </li>
        </ul>
      </li>
             <li class="usa-sidenav__item">
        <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Message Center: Communicate with Participants</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/send-message/" style="text-decoration: none !important;">&nbsp;&nbsp;Send message</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/view-messages/" style="text-decoration: none !important;">&nbsp;&nbsp;View messages</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/reply-to-messages/" style="text-decoration: none !important;">&nbsp;&nbsp;Reply to messages</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/more-features/" style="text-decoration: none !important;">&nbsp;&nbsp;More features</a>
          </li>
        </ul>
      </li>
      <li class="usa-sidenav__item">
        <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Connect with Public Solvers</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/send-bulletin-to-followers/" style="text-decoration: none !important;">&nbsp;&nbsp;Send bulletin to followers</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/reply-to-a-question/" style="text-decoration: none !important;">&nbsp;&nbsp;Reply to a question</a>
          </li>
        </ul>
      </li>
         <li class="usa-sidenav__item">
        <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Other</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/view-analytics/" style="text-decoration: none !important;">&nbsp;&nbsp;View analytics</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.baseurl }}/user-guide/additional-resources/" style="text-decoration: none !important;">&nbsp;&nbsp;Additional resources</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
