{% for menu_item in site.data.cm_user_guide_menu %}
  <li class="usa-sidenav__item">
    <a href="javascript:void(0);" class="usa-current menu-title no-underline">{{ menu_item.title }}</a>
    <ul class="usa-sidenav__sublist">
      {% for sub_item in menu_item.items %}
        <li class="usa-sidenav__item">
          {% if page.url == sub_item.url %}
            <a href="{{ site.baseurl }}{{ sub_item.url }}" class="usa-current no-underline child-link">{{ sub_item.title }}</a>
          {% else %}
            <a href="{{ site.baseurl }}{{ sub_item.url }}" class="no-underline child-link {% if page.url != sub_item.url %}inactive-link{% endif %}">{{ sub_item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}