<footer class="usa-footer site-footer bg-base-lightest text-white" role="contentinfo">
  <div class="grid-container padding-top-15 padding-bottom-5" style="background-image: url('{{ site.baseurl }}/assets/images/layout/curved_blue_footer.svg')">
    <div class="grid-row">
      <div class="tablet:grid-col footer__left">
        <img class="height-5 margin-bottom-2" src="{{ site.baseurl }}/assets/images/agency/challenge-logo-white.png" alt="Challenge Gov Logo" title="Challenge Gov" >
        <hr class="border-white margin-bottom-5" />
        <div class="grid-row">
          <div class="tablet:grid-col">
            <ul class="add-list-reset">
              <li class="margin-bottom-1"><a class="text-no-underline" href="{{ site.baseurl }}/about">About</a></li>
              <li class="margin-bottom-1"><a class="text-no-underline" href="{{ site.baseurl }}/contact">Contact</a></li>
              <li class="margin-bottom-1"><a class="text-no-underline" href="https://www.usa.gov">USA.gov</a></li>
            </ul>
          </div>
          <div class="tablet:grid-col">
            <ul class="add-list-reset">
              <li class="margin-bottom-1"><a class="text-no-underline" href="{{ site.baseurl }}/toolkit">Agency toolkit</a></li>
              <li class="margin-bottom-1"><a class="text-no-underline" href="#">Archived challenges</a></li>
            </ul>
          </div>
          <div class="tablet:grid-col">
            <ul class="add-list-reset">
              <li class="margin-bottom-1"><a class="text-no-underline" href="{{ site.base_url }}/terms">Terms</a></li>
              <li class="margin-bottom-1"><a class="text-no-underline" href="{{ site.base_url }}/privacy-policy">Privacy policy</a></li>
            </ul>
          </div>
          <div class="tablet:grid-col">
            <div class="grid-row usa-footer__social_links">
              <a href="https://www.facebook.com/challengegov" class="margin-right-2 usa-footer__social_link" target="_blank" rel="noopener">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.twitter.com/challengegov" class="margin-right-2 usa-footer__social_link" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.youtube.com/challengegov" class="margin-right-2 usa-footer__social_link" target="_blank" rel="noopener">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tablet:grid-col-2 text-right">
        <img src="{{ site.baseurl }}/assets/images/agency/challenge-logo-square-white.svg" alt="Challenge Gov Logo Square" title="Challenge Gov" class="height-10 footer__challenge-logo-square">
      </div>
    </div>
  </div>
</footer>


<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap_agency}}"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{site.google_analytics_ua}}', '{{site.url}}');

  // anonymize user IPs (chops off the last IP triplet)
  ga('set', 'anonymizeIp', true);

  // forces SSL even if the page were somehow loaded over http://
  ga('set', 'forceSSL', true);

  ga('send', 'pageview');
</script>

<script src="{{site.baseurl}}/assets/uswds/js/uswds.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/js/app.js"></script>

{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

</body>
</html>
