<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
        <div class="grid-row padding-3">
          <div class="tablet:grid-col" >
            <div class="logo-links">
                <a class="footer-logo media_link" href="https://gsa.gov">
                  <img src="{{ site.baseurl }}/assets/images/agency/gsa-logo.svg" width="90" alt="GSA logo">
                </a>
              </div>
          </div>
          <div>
            <p style="color:#3d4551;font-weight: 700;font-size:18px;margin-top:0px !important;">Sign Up for our e-Newsletter</p>
            <p style="color:#3d4551;">To sign up for the Challenge.gov e-newsletter enter your email address below.</p>
            <form id="GD-snippet-form" action="https://public.govdelivery.com/accounts/USGSATTS/subscriber/qualify?qsp=USGSATTS_6" accept-charset="UTF-8" method="post" target="_blank"><input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token" value="vQXKsffWd3TOkJjum5nSV1nYEs0lZhA08vgzpMvauSunexffPx/+8+Av0xoj3XgOGxwuQhrhnIlw4vRFUOn8Iw==" />
            <fieldset style="border:none !important;margin:0 !important;padding: 0 !important">
            <input type="text" name="email" id="email" placeholder="Enter your email address" style="display: inline-block;width: 65%;padding:8px 2px;color:#444444;font-size: 13px !important" /> <input type="submit" name="commit" value="Submit" class="sr-button reverse" style="display: inline-block;width: 25%;color: #ffffff;padding: 8px;font-weight: 700;background:#005ea2;border:1px solid #005ea2;font-size: 13px !important" />
            </fieldset>
            </form>
          </div>
          <div class="tablet:grid-col"></div>
          <div class="tablet:grid-col">
            <ul class="add-list-reset">
              <li><a class="text-no-underline" href="{{ site.baseurl }}/">Home</a></li>
              <li><a class="text-no-underline" href="{{ site.baseurl }}/contact">Contact</a></li>
              <li><a class="text-no-underline" href="https://www.usa.gov">USA.gov</a></li>
            </ul>
          </div>
          <div class="tablet:grid-col">
            <ul class="add-list-reset">
                <li><a class="text-no-underline" href="{{ site.baseurl }}/terms">Terms</a></li>
                <li><a class="text-no-underline" href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</footer>


<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{site.dap_agency}}"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{site.google_analytics_ua}}', '{{site.url}}');

  // anonymize user IPs (chops off the last IP triplet)
  ga('set', 'anonymizeIp', true);

  // forces SSL even if the page were somehow loaded over http://
  ga('set', 'forceSSL', true);

  ga('send', 'pageview');
</script>

<script src="{{site.baseurl}}/assets/uswds/js/uswds.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/assets/js/app.js"></script>

{% include searchgov/script.html affiliate=site.searchgov_affiliate %}

</body>
</html>
