  <div class="grid-container-resources help-section" id="resources-people"> 
    <div class="grid-container"> 
      <div class="grid-row"> 
        <div class="tablet:grid-col" style="text-align: center;"> 
          <h2>For public innovators</h2> 
          <div class="usa-container"><img class="people responsive" src="{{ site.baseurl }}/assets/images/banners/orange-people.png" alt=""></div> 
          <a href="https://www.usa.gov/innovation" class="usa-button usa-button--small-orange" data-anchor="active-challenges">Explore resources for public innovators</a> 
        </div> 
        <div class="tablet:grid-col" style="text-align: center;"> 
          <h2 class="resources-title">For federal challenge managers</h2> 
          <div class="usa-container"><img class="people responsive" src="{{ site.baseurl }}/assets/images/banners/blue-people.png" alt=""></div> 
          <a class="usa-button usa-button--small usa-button--accent-cool" href="https://www.gsa.gov/technology/government-it-initiatives/prize-competitions">Explore resources for challenge managers</a>  
        </div>   
      </div> 
    </div> 
  </div> 
</main>
