<div class="help-section bg-base-lightest">
  <div class="grid-container">
    <div class="grid-row margin-x-auto margin-bottom-3 help-section__header">
      Work for a government agency and need help getting started?
    </div>

    <div class="grid-row help-section__content">
      <div class="tablet:grid-col display-flex flex-column flex-align-center padding-5 help-section__agency-toolkit">
        <span>&nbsp;</span>
        <img src="{{ site.baseurl }}/assets/images/icons/tool_icon.svg"/>
        <p>Our toolkit is full of helpful information.</p>
        <a class="usa-button usa-button--outline usa-button--big" href="{{ site.baseurl }}/toolkit">View agency toolkit</a>
      </div>
      <div class="tablet:grid-col display-flex flex-column flex-align-center padding-5 help-section__noteworthy">
        <span>New and noteworthy</span>
        <img src="{{ site.baseurl }}/assets/images/icons/star_pin.svg"/>
        <p>USAID challenges inspire innovation around the world.</p>
        <a class="usa-button usa-button--outline usa-button--big" href="{{ site.baseurl }}/about">Learn more</a>
      </div>
      <div class="tablet:grid-col display-flex flex-column flex-align-center padding-5 help-section__create-account">
        <span>&nbsp;</span>
        <img src="{{ site.baseurl }}/assets/images/icons/account_icon.svg"/>
        <p>Ready to post a challenge? Create an account to get started.</p>
        <a class="usa-button usa-button--outline usa-button--big" href="https://challenge-portal-staging.app.cloud.gov/sign-in/new">Create account</a>
      </div>
    </div>
  </div>
</div>