<div class="usa-hero bg-base-lightest text-black display:flex flex-justify-center">
<div class="usa-hero__inner2">
  <div class="grid-container">
    <div class="display-flex flex-column flex-align-center">
      <div class="hero-logo"><img style="height: 3.8rem;" class="margin-bottom-2" src="{{ site.baseurl }}/assets/images/agency/challenge-logo-white-orange.svg" alt="Large Challenge.Gov logo" title="Challenge.Gov"> </div>
      <div class="display-flex flex-column flex-align-center usa-hero__description">
        <h2 class="hero-headline" style="text-align: center;">Where <span style="color:#fa9441">public innovators</span> are inspired to meet challenges <span style="color:#fa9441">big</span> &mp; <span style="color:#fa9441">small</span>.</h2>
<!--         <div class="grid-row">
          <div class="grid-col-4">
            <button style="width: 15rem;" id="js-explore-challenges" class="usa-button usa-button" data-anchor="active-challenges">Find a Challenge</button>
          </div>
          <div class="grid-col-4"><a href="{{ site.baseurl }}/events">
            <button style="width: 15rem;" id="create-account-hero-button" class="usa-button usa-button">Join an Event</button>
            </a></div>
          <div class="grid-col-4"><a href="https://public.govdelivery.com/accounts/USGSATTS/signup/30826">
            <button style="width: 15rem;" id="create-account-hero-button2" class="usa-button usa-button">Stay Informed</button>
            </a></div>
        </div> -->
		  <div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-xm-12 col-lg-3">
     <button style="width: 15rem;" id="js-explore-challenges1" class="usa-button usa-button" data-anchor="active-challenges">Find a Challenge</button>
    </div>
    <div class="col col-xm-12 col-lg-3">
      <button style="width: 15rem;" id="create-account-hero-button11" class="usa-button usa-button">Join an Event</button>
    </div>
    <div class="col col-xm-12 col-lg-3">
     <button style="width: 15rem;" id="create-account-hero-button11" class="usa-button usa-button">Stay Informed</button>
    </div>
  </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
