<div class="usa-hero bg-base-lightest text-black display:flex flex-justify-center">
  <div class="usa-hero__inner2">
    <div class="grid-container">
      <div class="display-flex flex-column flex-align-center">
        <div class="hero-logo"><img style="height: 3.8rem;" class="margin-bottom-2" src="{{ site.baseurl }}/assets/images/agency/challenge-logo-white-orange.svg" alt=""> </div>
</div>
      <div>&nbsp;</div>
        <div class="display-flex flex-column flex-align-center usa-hero__description">
          <h1 class="hero-headline" style="text-align: center;">Where <span style="color:#fa9441">public innovators</span> are inspired to meet challenges <span style="color:#fa9441">big</span> &amp; <span style="color:#fa9441">small</span>.</h1>
          <div class="grid-container">
            <div class="grid-row">
              <div class="tablet:grid-col" style="text-align: center;">
                <div class="container"><a href="{{ site.baseurl }}/#active-challenges" class="usa-button usa-button--small-orange" aria-label="Active challenges" data-anchor="active-challenges" id="js-explore-challenges1">Find a Challenge
                  </a> <a href="{{ site.baseurl }}/events" class="usa-button usa-button--small-orange">Join an Event
                  </a> <a href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?qsp=USGSATTS_6" class="usa-button usa-button--small-orange">Stay Informed
                  </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
