<div class="usa-hero bg-base-lightest text-black display:flex flex-justify-center">
  <div class="usa-hero__inner2">
    <div class="grid-container">
      <div class="display-flex flex-column flex-align-center">
        <div class="hero-logo"><img style="height: 3.8rem;" class="margin-bottom-2" src="{{ site.baseurl }}/assets/images/agency/challenge-logo-white-orange.svg" alt="Large Challenge.Gov logo" title="Challenge.Gov">

</div>
        <div class="display-flex flex-column flex-align-center usa-hero__description">
          <h2 class="hero-headline" style="text-align: center;">Where <span style="color:#fa9441">public innovators</span> are inspired to meet challenges <span style="color:#fa9441">big</span> & <span style="color:#fa9441">small</span>.</h2>
          <div class="grid-row">
  <div class="grid-col-6"><button style="width: 15rem;" id="js-explore-challenges" class="usa-button usa-button" data-anchor="active-challenges">Find a Challenge</button> </div>
  <div class="grid-col-6"><a href="https://secure.login.gov/sign_up/enter_email?request_id=6ab5f3e4-a3e5-4cb7-90a3-3a777fee8967"><button style="width: 15rem;" id="create-account-hero-button" class="hero-create usa-button usa-button" data-anchor="active-challenges">Create Account</button></a></div>
</div>
          
        </div>
      </div>
    </div>
  </div>
</div>

