<div class="section-divider-transparent"></div>


  <div class="grid-row" style="background-color: #112f4e" "padding: 40px;">
    <div class="tablet:grid-col"><h2 class="text-white">Are you a Challenge Manager?</h2><p class="text-white">Engage public solvers in prize
      competitions and crowdsourcing.</p></div>
    <div class="tablet:grid-col"></div>
    <div class="tablet:grid-col"><a href="https://portal.challenge.gov/sign-in/new" class="usa-button usa-button--flexible-width" data-anchor="active-challenges">Get Started</a></div>
  </div>


<div class="section-divider-transparent"></div>
