{% comment %} 
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml 
where we provide an easy way to manage your navigation system
{% endcomment %}
<header class="usa-header grid-container" role="banner">
  <div class="grid-row padding-y-1">
    <div class="grid-col-fill">
      <a href="{{ site.url }}" title="Home" aria-label="Home">
        <img src='{{ site.baseurl }}/assets/images/agency/challenge-logo.png' alt="Challenge Gov Logo" title="Challenge Gov" class="height-5 header__challenge-logo">
      </a>
    </div>
    <div class="grid-col-auto clearfix">
      <a class="usa-button usa-button--outline margin-left-5 float-right" href="https://challenge-portal-staging.app.cloud.gov/sign-in/new">Login</a>
      {% include searchgov/form.html affiliate=site.searchgov_affiliate %}
    </div>
  </div>
</header> 