{% comment %} 
To modify the menu system, you are welcome to edit this HTML directly or you can look inside _config.yml 
where we provide an easy way to manage your navigation system
{% endcomment %}
<header class="usa-header usa-header--basic" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="basic-logo">
        <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
          <img src='{{ site.baseurl }}/assets/images/agency/challenge-logo.svg' alt="Challenge.Gov Logo" title="Challenge Gov" class="height-5 header__challenge-logo">
        </a>
      </div>
      <button class="usa-menu-btn">Menu</button>
    </div>
    <nav class="usa-nav usa-header__actions">
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a href="{{ site.baseurl }}/#active-challenges" class="menulink usa-nav__link" title="Active challenges" aria-label="Active challenges" data-anchor="active-challenges">Find a Challenge</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="menulink usa-nav__link" href="{{ site.baseurl }}/#resources-people" title="Resources for innovators and managers" aria-label="Resources">Resources</a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="menulink usa-nav__link" href="{{ site.baseurl }}/contact" title="Contact page with email and social links" aria-label="Contact">Contact</a>
        </li>
      </ul>
      {% include searchgov/form.html affiliate=site.searchgov_affiliate %}      
      <a style="width: 6rem;" class="float-right usa-button usa-button--outline tablet:margin-left-2 tablet:float-right font-sans-xs" href="https://portal.challenge.gov/sign-in/new"><span style="color:#005ea2;">Login</span></a>
      <a style="width: 10rem;" class="float-right usa-button usa-button tablet:margin-left-1 tablet:float-right font-sans-xs" href="https://secure.login.gov/sign_up/enter_email?request_id=6ab5f3e4-a3e5-4cb7-90a3-3a777fee8967"><span style="color: #ffffff;">Create Account</span></a>      
    </nav>
  </div>
</header>
