<div class="newsletter-bg newsletter">
  <div class="grid-row">
    <div class="container">
      <div class="tablet:grid-col">
        <h3 class="text-white">Stay Informed!</h3>
        <h4 style="color: #ffffff">Stay up to date on the latest Challenge.Gov news!</h4>
         <a href="https://public.govdelivery.com/accounts/USGSATTS/signup/30826" class="usa-button usa-button--big" data-anchor="active-challenges" style="background-color:#fa9441;"><span style="color:#19304c;">Subscribe</span></a>
      </div>
      <div class="tablet:grid-col"></div>
    </div>
  </div>
</div>
