{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav desktop:grid-col-3 usa-section">
    {% include agency.html %}
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="#description">Description</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#rules">Rules</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#judging-criteria">Judging Criteria</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#how-to-enter">How To Enter</a>
      </li>
    </ul>
  </nav>
</aside>
