
<aside class="usa-layout-docs-sidenav desktop:grid-col-3 usa-section">
  {% if page.layout == "front-matter-data" %}
    {% include agency-front-matter-data.html %}
  {% elsif page.layout == "front-matter-data-markdownify-content" %}
    {% include netlify-layout-sidenav-agency-logo.html %}
  {% endif %}
    <hr>
    {% if page.sidenav == true %}
  <nav>
    <h3 class="text-base-dark">Page Contents</h3>
    <ul class="usa-sidenav">
      {% if page.description %}
      <li class="usa-sidenav__item">
        <a class="text-accent-warm-dark" href="#description">Description<span class="sr-only"> (in-page link)</span></a>
      </li>
      {% endif %}
      {% if page.prizes %}
      <li class="usa-sidenav__item">
        <a href="#prizes">Prizes<span class="sr-only"> (in-page link)</span></a>
      </li>
      {% endif %}
      {% if page.rules %}
      <li class="usa-sidenav__item">
        <a href="#rules">Rules<span class="sr-only"> (in-page link)</span></a>
      </li>
      {% endif %}
      {% if page.judging %}
      <li class="usa-sidenav__item">
        <a href="#judging-criteria">Judging Criteria<span class="sr-only"> (in-page link)</span></a>
      </li>
      {% endif %}
      {% if page.how-to-enter %}
      <li class="usa-sidenav__item">
        <a href="#how-to-enter">How To Enter<span class="sr-only"> (in-page link)</span></a>
      </li>
      {% endif %}
      {% if page.status == "open" %}
      <li class="usa-sidenav__item">
        <a href="#contact">Point of Contact<span class="sr-only"> (in-page link)</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</aside>
