<nav role="navigation">
  <div class="toolkit-nav" id="toolkit-navbar-collapse">
    <ul class="usa-nav__primary usa-accordion"> 
      <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="{{ site.baseurl }}/toolkit/overview/">
          Overview</a>
      </li>
        <!--  REMOVE Phases  
      <li class="usa-nav__primary-item dropdown">
        <a class="usa-nav__link dropdown-toggle disabled" href="{{ site.baseurl }}/toolkit/phases/">
          Phases</a>
      <ul class="dropdown-menu">
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/prepare">Prepare</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/develop">Develop</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/conduct">Conduct</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/award">Award</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/transition">Transition</a></li>
        </ul>
     
    </li>  -->
        <!--  REMOVE Types
      <li class="dropdown"><a class="dropdown-toggle disabled" href="{{ site.baseurl }}/toolkit/types/">Types</a>
          <ul class="dropdown-menu">
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/analytics">Analytics</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/design">Design</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/entrepreneurship">Entrepreneurship</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/ideas">Ideas</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/scientific">Scientific</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/software">software</a></li>
              <li class="usa-nav__primary-item"><a href="{{ site.baseurl }}/toolkit/technology">Technology</a></li>
        </ul>
      </li>
        --->

      <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="{{ site.baseurl }}/toolkit/case-studies/">
          Case Studies</a>
      </li>
      <!-- Remove Mentor Network
      <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="{{ site.baseurl }}/toolkit/mentor-network/">
          Mentor Network</a>
      </li>  -->
      <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="{{ site.baseurl }}/toolkit/resources/">
          Resources</a>
      </li>
      <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="{{ site.baseurl }}/toolkit/faq/">
            FAQ</a>
        </li>
    </ul>
  </div>
</nav>