<nav class="navbar">
              <div class="container-fluid">
      
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                              data-target="#toolkit-navbar-collapse" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
      
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="toolkit-navbar-collapse">
                      <ul class="nav navbar-nav">
                           <li class="active"><a href="{{ site.baseurl }}/toolkit">Home</a></li>
                           <li><a href="{{ site.baseurl }}/toolkit/get-started/">Get Started</a></li>
                           <li class="dropdown"><a class="dropdown-toggle disabled" href="{{ site.baseurl }}/toolkit/phases/">Phases</a>
                             <!--  REMOVE Phases Drop-down  
                            <ul class="dropdown-menu">
                                   <li><a href="{{ site.baseurl }}/toolkit/prepare">Prepare</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/develop">Develop</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/conduct">Conduct</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/award">Award</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/transition">Transition</a></li>
                              </ul>
                            -->
                          </li>
                             <!--  REMOVE Types
                           <li class="dropdown"><a class="dropdown-toggle disabled" href="{{ site.baseurl }}/toolkit/types/">Types</a>
                                <ul class="dropdown-menu">
                                   <li><a href="{{ site.baseurl }}/toolkit/analytics">Analytics</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/design">Design</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/entrepreneurship">Entrepreneurship</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/ideas">Ideas</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/scientific">Scientific</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/software">software</a></li>
                                   <li><a href="{{ site.baseurl }}/toolkit/technology">Technology</a></li>
                              </ul>
                            </li>
                              --->
                           <li><a href="{{ site.baseurl }}/toolkit/case-studies/">Case Studies</a></li>
                           <li><a href="{{ site.baseurl }}/toolkit/mentor-network/">Mentor Network</a></li>
                           <li><a href="{{ site.baseurl }}/toolkit/resources/">Resources</a></li>
                      </ul>
                  </div>
              </div>
          </nav>