<div class=" tablet:grid-col text-center margin-bottom-5">
        <h2 class="text-primary-dark">Challenge Types</h2>
</div>

<div class="grid-row flex-justify-center">

    <div class="tablet:grid-col-4 padding-x-4 padding-y-2">
        <img src="{{ site.baseurl }}/assets/images/toolkit/types/type-analytics-01.png" alt="">
        <h3 style="color: #A12557;">Analytics</h3>
        <p>Analytics, visualization and algorithm challenges focus on finding better ways to interpret or communicate data.</p>
    </div>

    <div class="tablet:grid-col-4 padding-x-4 padding-y-2">
        <img src="{{ site.baseurl }}/assets/images/toolkit/types/type-design-01.png" alt="">
        <h3 style="color: #A12557;">Design</h3>
        <p>Creative design and multimedia challenges can help agencies capture, communicate and project a concept or aesthetic that would be difficult to achieve with a grant or contract.</p>
    </div>     
        
    <div class="tablet:grid-col-4 padding-x-4 padding-y-2">
        <img src="{{ site.baseurl }}/assets/images/toolkit/types/type-entrepreneur-01.png" alt="">
        <h3 style="color: #A12557;">Entrepreneurship</h3>
        <p>Entrepreneurship or business plan challenges are competitions used by government, universities and private sector organizations to help train and equip entrepreneurs, as well as launch their ventures.</p>
    </div>
              
    <div class="tablet:grid-col-4 padding-x-4 padding-y-1">
        <img src="{{ site.baseurl }}/assets/images/toolkit/types/type-idea-01.png" alt="">
        <h3 style="color: #A12557;">Ideas</h3>
        <p>An ideation challenge supports new ways of understanding and framing problems, new processes to solve problems, and innovative implementations as solutions to problems.</p>
    </div>

    <div class="tablet:grid-col-4 padding-x-4 padding-y-1">
        <img src="{{ site.baseurl }}/assets/images/toolkit/types/type-scientific-01.png" alt="">
        <h3 style="color: #A12557;">Scientific</h3>
        <p>Scientific challenges seek to promote the understanding of a problem, solution or outcome using empirical or measurable evidence-based practices.</p>
    </div>

    <div class="tablet:grid-col-4 padding-x-4 padding-y-1">
        <img src="{{ site.baseurl }}/assets/images/toolkit/types/type-software-01.png" alt="">
        <h3 style="color: #A12557;">Software</h3>
        <p>In a software and app development challenge, an organization asks solvers to create a software application to solve an existing problem or draw attention to potential uses of available datasets.</p>
    </div>

    <div class="tablet:grid-col-4 padding-x-4 padding-y-1">
        <img src="{{ site.baseurl }}/assets/images/toolkit/types/type-tech-01.png" alt="">
        <h3 style="color: #A12557;">Technology</h3>
        <p>Technology demonstration and hardware challenges seek prototypes or fully developed solutions to catalyze and demonstrate breakthrough technical innovations.</p>
    </div>
</div>
