<div class="grid-container">
    <div style="height: 17rem; background-image: url('{{ site.baseurl }}/assets/images/toolkit/home/Hex-BG-small11.jpg');">
        <div class="grid-row flex-justify-end padding-top-2">
            <img src="{{ site.baseurl }}/assets/images/toolkit/home/ChallengeLogo-1-300x300.png"
                id="home-logo-main"
                    class=""
                    alt="Toolkit Logo"
                    sizes="(max-width: 275px) 100vw, 275px"
                    width="225" height="226">
            <div class="">
                <p class="text-white text-bold tablet:grid-col-6 padding-top-8">Information and resources to&nbsp;guide federal employees working&nbsp;on challenges and prizes</p>
            </div>
        </div>
    </div>
</div>