  <div class="tablet:grid-col-10 margin-bottom-4 tablet:margin-bottom-0">
    <nav aria-label="Side navigation,,">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
      <a href="{{ site.baseurl }}/user-guide/" title="Home" aria-label="user guide home"> User guide home</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Explore Challenges</a>
      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
          <a href="{{ site.baseurl }}/explore-active-challenges/" title="Explore active challenges" aria-label="explore active challenges" style="text-decoration: none !important;">&nbsp;&nbsp;Explore active challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;View archived challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Using the search bar to find challenges</a>
        </li>
      </ul>
    </li>
     <li class="usa-sidenav__item">
      <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;Engage with a Challenge</a>
      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Follow challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Share challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Print challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Contact challenge management team</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Submit to a challenge</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Unfollow challenges</a>
        </li>
      </ul>
    </li>
     <li class="usa-sidenav__item">
      <a href="javascript:void(0);" class="usa-current">&nbsp;&nbsp;The Solver Portal</a>
      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Create your Challenge.Gov account</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Log into the solver portal</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Log out of the solver portal</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Manage saved challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Edit challenge submissions</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Delete challenge submissions</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" style="text-decoration: none !important;">&nbsp;&nbsp;Message Center</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
  </div>


