  <div class="tablet:grid-col-6 margin-bottom-4 tablet:margin-bottom-0">
    <nav aria-label="Side navigation,,">
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);"> User guide home</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);" class="usa-current">&nbsp;Exploring challenges</a>
      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);"> Exploring active challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);"> Viewing archived challenges</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="javascript:void(0);" class="usa-current"> Using the search bar to locate a challenge listing</a>
        </li>
      </ul>
    </li>
    <li class="usa-sidenav__item">
      <a href="javascript:void(0);">Parent link</a>
    </li>
  </ul>
</nav>
  </div>


<nav aria-label="Side navigation,,">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">User guide home</li>
      <li class="usa-sidenav__item"> <span class="usa-current">&nbsp;Exploring challenges</span>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">Exploring active challenges</li>
          <li class="usa-sidenav__item">Viewing archived challenges</li>
          <li class="usa-sidenav__item">Using the search bar to locate a challenge listing</li>
        </ul>
      </li>
      <li class="usa-sidenav__item"> <span class="usa-current">Engaging with a challenge</span>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">Follow a challenge</li>
          <li class="usa-sidenav__item">Share a challenge</li>
          <li class="usa-sidenav__item">Print a challenge</li>
          <li class="usa-sidenav__item">Contact the challenge management team</li>
          <li class="usa-sidenav__item">Submitting to a challenge</li>
          <li class="usa-sidenav__item">Unfollow a challenge</li>
        </ul>
      </li>
      <li class="usa-sidenav__item"> <span class="usa-current">Using the solver portal</span>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">Create Your Challenge.Gov User Account</li>
          <li class="usa-sidenav__item">Log in to the Solver Portal</li>
          <li class="usa-sidenav__item">Log out of Your Challenge.Gov Account</li>
          <li class="usa-sidenav__item">Manage Your Saved Challenges</li>
          <li class="usa-sidenav__item">Edit a Challenge Submission</li>
          <li class="usa-sidenav__item">Delete a Challenge Submission</li>
          <li class="usa-sidenav__item">Using the Message Center</li>
        </ul>
      </li>
    </ul>
  </nav>
