<h1 id="user-guide" style="font-weight: 900;">User Guide</h1>

<p>Challenge.Gov, managed by Technology Transformation Services (TTS), within the General Services Administration, is the official hub for prize competitions and crowdsourcing campaigns (together referred to as “challenges”) across the U.S. federal government. Through this platform, federal agencies engage public solvers in challenges to identify innovative solutions to important issues.</p>
<p>This guide provides step-by-step instructions for site visitor and public solver use of Challenge.Gov.</p>
