<div class="grid-container-video video">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col">
        <div class="video-left">
          <h2 class="learn-video">Learn how YOU can participate and make a difference.</h2>
          <hr style="height:4px; border:none; color:#FA9541; background-color:#FA9541; width:100%; text-align:center; margin: 10px 5px;">
          <div class=".tablet:grid-col-12" style="padding-bottom: 50px;">
            <div> <a href="https://www.twitter.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Twitter">
              <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="twitter" role="img">
                <title id="twitter">ChallengeGov twitter account</title>        
                <use xlink:href="/assets/img/sprite.svg#twitter"></use>
              </svg>
            </svg>
          </a> 
          <a href="https://www.facebook.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Facebook">
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="facebook" role="img">
              <title id="facebook">ChallengeGov facebook account</title>        
              <use xlink:href="/assets/img/sprite.svg#facebook"></use>
            </svg>
          </svg>
        </a> 
        <a href="https://www.youtube.com/@challenge-gov" class="margin-right-1 usa-footer__social_link" aria-label="YouTube">
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <title id="linkedin">ChallengeGov youtube account</title>        
            <use xlink:href="/assets/img/sprite.svg#youtube"></use>
          </svg>
        </a> 
        <a href="https://github.com/GSA/Challenge_gov" class="margin-right-1 usa-footer__social_link" aria-label="Github">
          <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="github" role="img">
            <title id="github">ChallengeGov github account</title>        
            <use xlink:href="/assets/img/sprite.svg#github"></use>
          </svg>
        </svg>
      </a> 
      <a href="https://public.govdelivery.com/accounts/USGSATTS/subscriber/new?qsp=USGSATTS_6" class="margin-right-1 usa-footer__social_link" aria-label="Newsletter">
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img"><svg aria-labelledby="newsletter" role="img">
          <title id="newsletter">ChallengeGov newsletter signup</title>        
          <use xlink:href="/assets/img/sprite.svg#mail"></use>
        </svg>
      </svg>
    </a></div>
  </div>
</div>
</div>
<div class="video video-css tablet:grid-col" style="padding-bottom: 40px; text-align: center;"><a href="{{ site.baseurl }}/challenge-gov-overview-video/"><img src="{{ site.baseurl }}/assets/images/video-placeholder.png" alt="Watch the Challenge.Gov Overview Video" width="600"><span class="usa-button usa-button--small-orange" style="margin-top: 20px;">Watch overview video</span></a> </div></div>      
</div>
</div>
