
<div class="grid-container-video video">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col">
        <div class="video-left">
          <h2 class="learn-video">Learn how <span style="color:#fa9441;"><i>you</i></span> can participate and make a difference.</h2>
          <hr style="height:4px; border:none; color:#fa9441; background-color:#fa9441; width:100%; text-align:center; margin: 10px 5px;">
          <div class=".tablet:grid-col-12" style="padding-bottom: 50px;">
            <div> <a href="https://www.twitter.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Twitter"> <i class="fab fa-twitter"></i></a> <a href="https://www.facebook.com/ChallengeGov" class="margin-right-1 usa-footer__social_link" aria-label="Facebook"><i class="fab fa-facebook"></i></a> <a href="https://www.linkedin.com/company/challengegov/" class="margin-right-1 usa-footer__social_link" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a> <a href="https://github.com/GSA/Challenge_gov" class="margin-right-1 usa-footer__social_link" aria-label="Github"><i class="fab fa-github"></i></a> <a href="https://public.govdelivery.com/accounts/USGSATTS/signup/30826" class="margin-right-1 usa-footer__social_link" aria-label="Newsletter"><i class="fa fa-envelope"></i></a></div>
          </div>
        </div>
      </div>
       <div class="video video-css tablet:grid-col" style="padding-bottom: 40px;"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/zb3y3T17jb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
  </div>
</div>
