<div class="grid-container-video video">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col">
        <div class="video-left">
          <h2 class="learn-video">Why should you participate in federal prize competitions?</h2>
          <div class="tablet:grid-col-12 usa-card__body" style="padding-bottom: 50px; padding-top: 0px;">
            <div></div>
  </div>
</div>
</div>
<div class="video video-css tablet:grid-col" style="padding-bottom: 40px; text-align: center;"><a href="{{ site.baseurl }}/challenge-gov-why-video/"><img src="{{ site.baseurl }}/assets/images/video-why-placeholder.png" alt="Challenge.Gov Why Video" width="600"><span class="usa-button usa-button--small-orange" style="margin-top: 20px;">Watch video</span></a> </div></div>      
</div>
</div>
