.usa-footer {
  background-image: url(images/layout/curved_blue_footer.svg);
  background-repeat: no-repeat;
  background-size: cover;

  a {
    color: #ffffff;
    margin-bottom: 1rem;

    &:hover {
      color: #ffffff;
    }
  }

  &__social_link {
    font-size: 2rem;
  }
}