.usa-footer {
  .grid-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  a {
    color: #ffffff;
    margin-bottom: 1rem;

    &:hover {
      color: #ffffff;
    }
  }

  &__social_link {
    font-size: 2rem;
  }
}