/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.usa-link {
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	word-break: break-all;
  	word-break: break-word;
}

$custom-image-path:  '../';

@media (max-width: 600px) {
	.usa-navbar {
		border-bottom: none !important;
	}
  }

.usa-hero {
	background-image: none;
}

.usa-hero__callout {
	background-color: rgba(22, 46, 81, .85);
	max-width: 100% !important;
}

@media (max-width: 600px) {
	.usa-hero__callout h2 {
		font-size: 1.25rem;
		line-height: 1.8rem;
	}
	.usa-hero__callout {
		padding: 1rem;
	}
}

.usa-header--extended .usa-logo {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

@media (max-width: 1024px) {
	.usa-header--extended {
	  margin-bottom: 2.1rem !important;
	}
  }

.grid-container {
    max-width: 74rem;
}

.usa-nav__secondary {
	bottom: 6rem !important;
}

h3 a {
	text-decoration: none;
	color: color('primary');
}

// Challenge Home Page Listing Card Styles
.cards {
    display: grid;
    margin-bottom: 2em;
} 

.card {
	display: flex;
	flex-direction: column;
    margin: 1em;
    background-color: white;
}

.card__image {
	background-repeat: no-repeat;
	background: center;
    background-size: cover;
    background-color: white;
	overflow: hidden;
	position: relative;
	margin-bottom: .5em;


	&::before {
		content: "";
		display: block;
		padding-top: 47%; 
	}
}

.card__body {
	flex: 1 1 auto;
}

.card__title {
	display: block;
	padding-left: spacing-multiple(2);
	padding-right: spacing-multiple(2);
}

.card__action {
	display: block;
	width: 100%;
	bottom: 0;
	padding: spacing-multiple(2);
}

.card__action-block {
	text-align: center;
	padding: 0;

	.usa-button {
		display: block;
		width: 100%;
	}
}

//archive listing page styles

.archive-listing-card-logo {
	float: left; 
	padding: .7rem; 
}

@media (min-width: 1024px) {
	.archive-listing-card-logo {
		min-height: -webkit-fill-available;
	}
  }

  @media (max-width: 1023px) {
  .archive-listing-card-logo {
	display: none;
  }
}



// Sidenav
.usa-layout-docs-sidenav {
	@include at-media(desktop) {
		align-self: flex-start;
		position: sticky;
		top: 10px;
	}
}

.usa-sidenav a {
	color: color('accent-warm-dark');
	@include at-media(desktop) {
	padding-left: 0;
	}

	&:hover {
		color: color('base-dark');
	}
}

@media (max-width: 1024px) {
	.usa-layout-docs-sidenav {
	  display: none;
	}
  }

  @media (min-width: 1024px) {
	.desktop-only-display {
	  display: none;
	}
  }


// Challenge details main section
.challenge-main {
	margin-bottom: 30rem; // used to activate the last 'active' link in the sidebar
}

.challenge-tagline {
	color: #005ea2;
	font-family: Merriweather Web,Georgia,Cambria,Times New Roman,Times,serif;
    line-height: 1.2 !important;
	font-weight: 700;
	font-size: 1.34rem;
}

.challenge-body-content h3 {
	color: #c05600;
	font-size: 1.34rem;
	font-family: Merriweather Web,Georgia,Cambria,Times New Roman,Times,serif;
}

@media (max-width: 600px) {
	.challenge-agency-logo {
		max-width: 25%;
	}
  }



// Challenge Details Accordian
.usa-accordion__button--primary-darkest {
	background-image: url("#{$theme-image-path}/angle-arrow-up-white.svg");
	background-color: color('primary-dark');
	color: color('white');
	line-height: 1.7;

	&:hover {
		background-color: color('primary');
		color: color('white');
	}
}

.usa-accordion__button--primary-darkest[aria-expanded=false] {
	background-image: url("#{$theme-image-path}/angle-arrow-down-white.svg");
}

.usa-accordion__content {
	line-height: 2;
}

.usa-accordion__button {
	&:after {
		display: none;
	}
}

.usa-accordion__button:after {
	display: none !important;
}

// Toolkit - Resource page links

.ss-link {
	list-style-type: none;
}

.sf-list {
	padding: 0 0 2em 0;
	margin-bottom: 0
}

//Toolkit Case Studies page
.case-studies li {
	padding: 1em;
}

.case-studies li a {
	text-decoration: none;
	color: color('primary');
}

.case-studies li {
	text-decoration: none;
	list-style-type: none;
}

.alignleft {
	float: left;
	padding-right: 20px;
}

.alignright {
	float: right;
	padding-left: 10px;
}

.wp-caption {
	font-size: smaller;
	font-style: italic
}

.case-study-agency-heading {
	font-weight: 400;
}

.case-study-feature-img {
	max-width: 50% !important;
}

//Toolkit

.toolkit h1 {
	color: color('primary-dark');
	font-size: size('serif','2xl');
}

.toolkit h2 {
	color: color('primary-dark');
	font-size: size('serif','xl');
}

.toolkit h3 {
	color: color('primary');
	font-size: size('serif','lg');
}
.toolkit-nav {
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	max-width: 64rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.toolkit-site-wide  {
	background-color: #F1F3F6;
}

// Toolkit Mentor Network
.box-content-wrap {
	box-shadow: 3px #F1F3F6 !important;
	border-radius: 2px;
	padding: 30px;
	margin: 2em;
	background-color: white;
	width: 365px;
}

.mentor-network h4 {
	text-decoration: none;
	color: color('primary');
}

