---
layout: default
---
<div class="grid-container">
<div class="grid-row grid-gap">
  <div class="desktop:grid-col-9 usa-prose usa-section">
    {% if page.image %} 
      <img src="{{ site.baseurl }}/assets/netlify-uploads/{{ page.image }}" 
      class="" 
      alt="{{ page.image_alt_text }}">
    {% endif %} 
    <h1 class="text-primary-dark">{{page.title}}</h1>
    <h3 class="text-primary">{{page.tagline}}</h3>
    <div class="text-base margin-bottom-2">
      <div class="margin-top-neg-105">
        By <span class="text-bold">{{ page.author }}</span> · {{ page.date | date: '%B %d, %Y' }}
      </div>
    </div>
    {{ content }}
  </div>
</div>
</div>
